.container {
  /* display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(4, auto); 
  gap: 1% 2%;
  grid-template-areas:
    "head head"
    "chart ticket"
    "search search"
    "table table"; */
    display: flex;
    flex-wrap: wrap; 
    width: fit-content;
    gap: 1em;
}
.head {
  flex-basis: 100%;
}
.chart {
  flex-grow: 2;
}
.ticket {
  flex-grow: 1;
  flex-basis: 600px;
}
.tools {
  flex-basis: 100%;
}
.table {
  flex-basis: 100%;
}

.tools {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.search > span {
    cursor: pointer;
}

.search > * {
  display: inline;
  margin: 0 7px;
}
.search > i {
  border: 0.75px solid #92a1ad66;
  background: #ffffff;
  border-radius: 3px;
  padding: 10px 12px 9px 12px;
  color: #8b8b8b;
}

.add > * {
  display: inline;
  margin: 0 7px;
}

.add {
  position: relative;
}

.add button {
  padding: 15px 25px;
  border: none;
  background: #8a74f9;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.add button:hover {
    background: #fff;
    color: #8a74f9;
}

.switch {
  position: absolute;
  top: 10px;
  right: -60px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head > * {
    cursor: pointer;
}

.ticketId > * {
  display: inline;
  margin: 0 5px;
}

.ticketId > span {
  padding: 10px;
  background: #e7eaed;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #fff;
  font-size: 1rem;
  transition: 0.6s;
  align-items: flex-end;
}

button:hover {
    background: #8a74f9;
    color: #fff;
}

@media screen and (max-wdith: 375px) {
    .ticket {
        flex-basis: 100%;
    }
    .chart {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 1870px) {
    .chart {
        flex-basis: 100%;
    }
}